/*  White */
/* 80% AntiFlash White */
/* Jet */
/* Wenge */
/* Pale Robin Egg */
/* 50% Green Sheen */
/*  White */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-family: 'Prompt', sans-serif;
  background-color: white;
  color: #32292f; }

h1, h2, h3, h4 {
  font-weight: 500; }

h1 {
  font-size: 1.2em; }

h2 {
  font-size: 1.2em; }

h3 {
  font-size: 1em; }

@media screen and (min-width: 700px) {
  h1 {
    font-size: 1.5em; }

  h2 {
    font-size: 1.2em; } }
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 1.5em; }

  h3 {
    font-size: 1.2em; } }
a {
  color: #705d56;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.style-button {
  font-size: 1.5em;
  padding: 1%;
  text-align: center;
  background-color: #705d56;
  color: white; }

.latest .style-button {
  font-size: 1em;
  margin-top: 0; }

.newsletter {
  padding-bottom: 5%;
  font-size: 0.8em; }

.newsletter h4 {
  font-size: 1.1em; }

@media screen and (min-width: 700px) {
  .latest .style-button {
    font-size: 1.5em; }

  .newsletter .style-button {
    width: 50%;
    margin: 0 auto; }

  .newsletter {
    font-size: 1em; } }
.beta {
  font-size: 0.5em;
  font-weight: 300; }

.style-tagline {
  font-size: 0.8em;
  display: none; }

@media screen and (min-width: 700px) {
  .style-tagline {
    display: block;
    font-size: 1em; } }
header {
  background-image: url(../imgs/patterns/asanoha-400px.png);
  /* Background pattern from Subtle Patterns */
  background-attachment: fixed;
  background-size: 40%;
  overflow: auto;
  clear: both; }

.home header {
  background-image: url("../imgs/unsplash facade-med.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: auto; }

.home h1, .home p {
  width: auto; }

.home .topsticky {
  background-color: rgba(240, 247, 244, 0.7);
  overflow: auto; }

.overview {
  font-size: 1.2em;
  clear: both;
  padding: 5% 10% 0 10%; }

.overview h2 {
  font-weight: 700;
  background-color: rgba(240, 247, 244, 0.7);
  display: inline-block;
  padding-left: 10px; }

.overview h3 {
  background-color: rgba(240, 247, 244, 0.7);
  display: inline-block;
  padding-left: 10px; }

.datebox, .style-hero, .single-col {
  text-align: center; }

body {
  margin: 0; }

.container {
  /* SIMILAR RULES AS .allsections on banded pages to allow for topsticky space */
  clear: both;
  margin: 0 3%; }

.heading {
  width: 150px;
  margin: 0 auto; }

.heading h1 {
  margin-bottom: 0;
  padding-left: 10px; }

.heading p {
  margin-top: 0;
  padding-left: 13px; }

@media screen and (min-width: 700px) {
  .heading {
    float: left;
    width: 520px;
    padding-left: 10px; } }
.icon-menu {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 1.5em;
  color: #705d56;
  background-color: rgba(250, 255, 232, 0.8);
  padding: 1%;
  border-radius: 5px;
  border: 2px solid #705d56;
  z-index: 9; }

.invertcolors {
  color: white;
  background-color: #705d56;
  transition-duration: 1s; }

@media screen and (min-width: 700px) {
  .icon-menu {
    display: none; } }
.backtotop {
  font-size: 1.5em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9;
  background-color: white;
  border-radius: 50%; }

@media screen and (min-width: 700px) {
  nav {
    clear: both; } }
@media screen and (min-width: 1200px) {
  nav {
    clear: none; } }
nav ul {
  padding-left: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700; }

.menu-mobile {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url(../imgs/patterns/asanoha-400px.png);
  /* Background pattern from Subtle Patterns */
  background-attachment: fixed;
  background-size: 40%;
  border-bottom: 2px solid #705d56;
  width: 100%;
  margin: 0 auto;
  font-size: 1.2em;
  z-index: 7; }

.menu-big {
  display: none; }

@media screen and (min-width: 700px) {
  .menu-big {
    display: block; }

  .menu-big li {
    display: inline-block;
    font-size: 0.8em;
    padding: 0 15px;
    margin-top: 15px; }

  .menu-mobile {
    display: none; }

  .home header {
    height: 500px; } }
@media screen and (min-width: 1200px) {
  .menu-big {
    float: right; } }
.button {
  width: 50%;
  margin: 0 auto;
  margin: 4% auto 0 auto; }

.button-bottom {
  width: 50%;
  margin: 4% auto 0 auto; }

.row {
  clear: both;
  overflow: auto; }

.twousers .grid6 {
  margin: 3% 1%;
  padding: 2%; }

.explorers .button-bottom {
  width: 100px;
  margin-left: 0;
  margin-right: 0; }

.existing {
  text-align: right;
  overflow: auto;
  border-top: 2px solid rgba(112, 171, 175, 0.5); }

.existing .button-bottom {
  width: 100px;
  margin-left: 0;
  margin-right: 0;
  float: right; }

@media screen and (min-width: 700px) {
  .block {
    height: 100px; }

  .grid6 {
    width: 48%;
    float: left; }

  .twousers .grid6 {
    transition: background-color 0.25s ease-in;
    border: 1px solid #32292f; }

  .twousers .grid6:hover {
    border: 2px solid #99e1d9; }

  .existing, .explorers {
    border-top: none;
    text-align: left; }

  .existing .button-bottom, .explorers .button-bottom {
    margin: 0 auto;
    float: none; } }
.latest {
  border-top: 1px solid #32292f;
  border-bottom: 1px solid #32292f;
  padding-bottom: 15px; }

.latest h2 {
  margin-bottom: 0; }

.latest h3 {
  margin-top: 20px;
  margin-bottom: 0; }

.latest p {
  margin: 1% 0; }

@media screen and (min-width: 700px) {
  .latest {
    border-top: none; }

  .featured-org, .featured-unit, .featured-coop {
    height: 350px;
    position: relative;
    /* need this here for button-bottom */ }

  .latest .button-bottom {
    position: absolute;
    /* need this here for button-bottom */
    bottom: 4%;
    width: 70%;
    left: 15%; } }
@media screen and (min-width: 700px) {
  .featured-org, .featured-unit, .featured-coop {
    height: 300px; }

  .grid4 {
    width: 33%;
    float: left;
    padding-right: 3%;
    /*figure out last child for padding*/ }

  .grid4:last-child {
    padding-right: 0; } }
.thumbnail {
  overflow: hidden; }

.thumbnail img {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  object-fit: cover; }

.topbanner {
  background-color: #99e1d9;
  text-align: left;
  width: 100%;
  clear: both;
  font-size: 0.8em;
  padding-right: 65px;
  padding-left: 3%;
  height: 60px;
  border-bottom: 3px solid white;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.showonscrolldown {
  display: none;
  position: fixed;
  top: 0;
  z-index: 5; }

@media screen and (min-width: 500px) {
  .topbanner {
    font-size: 1.2em;
    height: auto; } }
@media screen and (min-width: 700px) {
  .topbanner {
    height: 80px;
    text-align: center;
    padding-right: 0; } }
footer {
  clear: both;
  padding: 3% 3% 0 3%;
  overflow: auto;
  background-color: rgba(112, 171, 175, 0.5); }

footer h3 {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 3px; }

footer p {
  margin: 0; }

.map {
  width: 90%;
  padding-bottom: 5%; }

@media screen and (min-width: 700px) {
  .grid6right {
    width: 50%;
    float: right;
    /* so info comes after map on mobile!*/ }

  .map iframe {
    height: 500px; } }
.datebox {
  border: 2px solid #705d56;
  border-radius: 10px;
  height: 45px;
  width: 45px;
  margin-bottom: 3%;
  float: left; }

.datebox p {
  padding-top: 3px;
  margin: -5px; }

.eventtitle {
  float: left;
  width: 60%;
  padding-left: 3%; }

.eventinfo {
  clear: both;
  margin-bottom: 0; }

.eventinfo a:hover {
  /* not sure why this hover is not working*/
  text-decoration: underline; }

.eventlist {
  overflow: auto; }

.contactinfo {
  clear: both;
  /*  border-top: 1px solid white;  */ }

.cooploves {
  font-size: 0.7em; }

.cooploves a {
  color: #32292f; }

.credits {
  clear: both;
  text-align: center;
  padding: 2%; }

/* ------ EVENT ARCHIVE PAGE -----*/
.eventdate {
  font-weight: 200; }

/* ------ STANDARD ARCHIVE PAGE -----*/
.archive li {
  text-transform: capitalize; }

.keyword {
  font-weight: 700; }

.date {
  font-weight: 300;
  font-size: 0.8em; }

/* ------ STANDARD POST -----*/
.container {
  min-height: 400px; }

.container h1 {
  text-transform: capitalize; }

hr {
  clear: both; }

.tags {
  font-size: 1.2em;
  clear: both; }

.tags h5 {
  font-weight: 500; }

.tags li {
  display: inline-block;
  background-color: #705d56;
  padding: 0.5% 1%;
  margin: 0 1%; }

.tags a {
  color: white; }

.category {
  background-color: #705d56;
  padding: 0.5%;
  margin: 0 0.5%; }

.search {
  border: 1px solid rgba(112, 171, 175, 0.5);
  margin: 3% 0;
  padding: 2%; }

/* ------ STANDARD TOOL ICONS  -----*/
.tool-img {
  width: 100%;
  max-width: 800px;
  margin-bottom: 3%; }

.tool-img img {
  width: 100%; }

/*# sourceMappingURL=coop.css.map */
