a {
  color: grey;
  font-weight: 700;
}
a:hover {
  background-color: rgba(236,164,0, 1); /* gold */
}
.unit-info h4 {
  background-color: rgba(242,242,242,1);
  padding: 3%;
  margin: 5% 0;
}
.coop-info h4 {
  background-color: rgba(242,242,242,1);
  padding: 3%;
  margin: 5% 0;
}
.container .button {
  margin: 5% auto;
}
.container h2 {
  font-weight: 200;
}
.mainfact {
  font-weight: 500;
}
.infofield {
  font-weight: 200;
}
.infoicon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  color: grey;
  font-size: 3em;
}
/*---- THIS IS DIFFERENT THAN BELOW ... and therefore doesn't work
 .availunits ul {
  padding: 0;
}*/
ul.availunits { /* NEED THIS SYNTAX ESP IF NO PARENT-CHILD RELATIONSHIP AND IS THE SAME ELEMENT! */
  padding: 0;
}
.availunits li {
  list-style: none;
}
.availunits a:hover { /* hover doesn't seem to work on CPT query displays */
  background-color: rgba(236,164,0, 1); /* gold */
}


/* ------ MEDIA QUERIES START HERE -----*/
@media screen and (min-width: 700px) {
  .infoicon {
    float: left;
    margin-bottom: 5%;
  }
  .infoblock {
    width: 500px;
    float: left;
    margin-top: 0; /* helps align to top */
    margin-left: 30px;
  }
  .profileblock {
    clear: both;
  }
  .gallery-plugin {
    width: 600px;
    text-align: left;
  }
}
