/*
CSS FOR FORMS
*/
.taller-field {
  font-size: 1.3em;
  margin: 1% 0;
  padding: 1%;
  border-radius: 5px;
  width: 285px;
  font-family: 'Prompt', sans-serif;

}
input[type=submit] {
  font-size: 1.3em;
  margin: 2% auto;
  width: 100%;
  background-color: $brand-color-accent;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  color: $brand-background-color;
  font-family: 'Prompt', sans-serif;
}
/*
end of CSS FOR FORMS
*/
