@import "helpers/variables"; // could just be helpers/

/*  for banded sections pages */
header {
  background-image: url(../imgs/patterns/asanoha-400px.png);
  /* Background pattern from Subtle Patterns */
  background-attachment: fixed;
  background-size: 40%;
}
.allsections {
  clear: both;
  margin-top: 0;
}

section {
  overflow: auto;
  clear: both;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
.band-white {
  padding: 6%;
  overflow-x: auto;
  border-bottom: 5px solid $brand-color-accent;
}
.band-green {
  padding: 6%;
  overflow-x: auto;
  border-bottom: 5px solid $brand-color-accent;
}
.band-purple {
  padding: 6%;
}
.tools a:hover { /* maybe because the h3 text is wrapped in a div the link properties don't come through (underline on hover), but highlighting the whole div is better anyway*/
  background-color: rgba(150,150,150, 0.4);
}
.infotool {
  width: 175px;
  float: left;
  flex:none;
  margin: 3% 0;
  margin-left: 5%;
}
.infotool h3 {
  clear: both;
  text-align: center;
  text-transform: capitalize;
  padding: 0 2.5%;

}
.icon {
  border: 3px solid black;
  width: 75px;
  height: 75px;/* if this does not match default thumbnail size in functions.php, it will be cut off*/
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.icon img {
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.button-section {
  font-size: 1.5em;
  padding: 1%;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  text-transform: capitalize;
  clear: both;
  background-color: $brand-color-accent;
}
.button-section {
  color: $brand-background-color;
}
.band-green .button-section {
}
.band-purple .button-section {
}
.band-white .button-section {
}
/* UNIQUE EXPLORERS 3-BUTTON CALL TO ACTION */
.explore-action {
  border: 1px solid $brand-color-primary;
  padding: 2%;
  text-align: left;
  margin-bottom: 20px;
}
.explore-action .button-bottom {
  background-color: $brand-color-accent;
  padding: 1%;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
a .button-bottom {
  color: $brand-background-color;
}
@media screen and (min-width: $breakpoint-med-big) {
  .button-section {
    width: 30%;
  }
  .explore-action {
    width: 29%;
    margin-right: 2%;
    float: left;
    height: 240px;
    position: relative; /* 1/3 needed this here for button-bottom, diff from main css */
  }
  .explore-action:last-of-type {
    margin-right: 0;
  }
  .explore-action .button-bottom {
    position: absolute; /* 1/3 needed this here for button-bottom, diff from main css */
    bottom: 4%; /* 1/3 needed this here for button-bottom, diff from main css */

  }


}


.sectionlisting{
  text-align: center;
}
.taller-field {
  font-size: 1.3em;
  margin: 1% 0;
  padding: 1%;
  border-radius: 5px;
  width: 285px;
}
input[type=submit] {
  font-size: 1.3em;
  margin: 2% auto;
  width: 100%;
  background-color: rgba(236,164,0, 1); /* gold */
  border-radius: 5px;
  width: 300px;
  text-align: center;
}
