//////// STYLE ////////
@import "helpers/variables"; // could just be helpers/

  * {
    box-sizing: border-box;
    	-moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
  }

  body {
    font-family: 'Prompt', sans-serif;
    background-color: $brand-background-color;
    color: $brand-color-primary;
  }
  h1,h2,h3, h4 {
    font-weight: $weight-medium;
  }
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
    @media screen and (min-width: $breakpoint-med-big ) {
      h1 {
        font-size: 1.5em;
      }
      h2 {
        font-size: 1.2em;
      }

    }
    @media screen and (min-width: $breakpoint-biggest ) {
      // adding h1 will change title logo size
      h2 {
        font-size: 1.5em;
      }
      h3 {
        font-size: 1.2em;
      }
    }

  a {
    color: $brand-color-accent;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .style-button {
    font-size: 1.5em;
    padding: 1%;
    text-align: center;
    background-color: $brand-color-accent;
    color: $brand-background-color;
  }
  .latest .style-button {
    font-size: 1em;
    margin-top: 0;
  }
  .newsletter {
    padding-bottom: 5%;
    font-size: 0.8em;
  }
  .newsletter h4 {
    font-size: 1.1em;
  }
  @media screen and (min-width: $breakpoint-med-big ) {
    .latest .style-button {
      font-size: 1.5em;
    }
    .newsletter .style-button {
      width: 50%;
      margin: 0 auto;
    }
    .newsletter {
      font-size: 1em;
    }
  }
  // for front page
  .beta {
    font-size: 0.5em;
    font-weight: $weight-light;
  }
  .style-tagline {
    font-size: 0.8em;
    display: none;
  }
    @media screen and (min-width: $breakpoint-med-big ) {
      .style-tagline {
        display: block;
        font-size: 1em;
      }
    }
  header {
    background-image: url(../imgs/patterns/asanoha-400px.png);
    /* Background pattern from Subtle Patterns */
    background-attachment: fixed;
    background-size: 40%;
    overflow: auto;
    clear: both;
  }
  .home header {
    background-image: url("../imgs/unsplash facade-med.jpg");
    background-size: cover;
    background-position: bottom;
    overflow: auto; // without this, image cuts off at top without a clear or a border!
  }
  .home h1, .home p {
    // background-color: $brand-background-color; // text highlight
    width: auto;
  }
  .home .topsticky {
    background-color: $brand-background-trslct; //topsticky highlight
    overflow: auto;

  }

  .overview {
    font-size: 1.2em;
    clear: both;
    padding: 5% 10% 0 10%;
  }
  .overview h2 {
    font-weight: $weight-bold;
    background-color: $brand-background-trslct; // text highlight
    display: inline-block;
    padding-left: 10px;
  }
  .overview h3 {
    background-color: $brand-background-trslct; // text highlight
    display: inline-block;
    padding-left: 10px;
  }

  // center align the text
  .datebox, .style-hero, .single-col {
    text-align: center;
  }

//////// SPACING - POSITIONING ////////
  // default for all pages
  html {
  }
  body {
    margin: 0;
  }

  .container { /* SIMILAR RULES AS .allsections on banded pages to allow for topsticky space */
    clear: both;
    margin: $margin-typ;
  }
    @media screen and (min-width: $breakpoint-med-big ) {
      .container {
      }
    }
  .heading {
    width: 150px; // on mobile, 'center' or replace w/ logo
    margin: 0 auto;
  }
  .heading h1 {
    margin-bottom: 0;
    padding-left: 10px;
  }
  .heading p {
    margin-top: 0;
    padding-left: 13px;
  }
    @media screen and (min-width: $breakpoint-med-big ) {
      .heading {
        float: left;
        width: 520px;
        padding-left: 10px;
      }
    }


  .icon-menu {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 1.5em;
    color: $brand-color-accent;
    background-color: rgba(250,255,232,0.8);
    padding: 1%;
    border-radius: 5px;
    border: 2px solid $brand-color-accent;
    z-index: 9;
  }
  .invertcolors {
    color: $brand-background-color;
    background-color: $brand-color-accent;
    transition-duration: 1s;
  }
    @media screen and (min-width: $breakpoint-med-big ) {
      .icon-menu {
        display: none;
      }
    }
  .backtotop {
    font-size: 1.5em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    background-color: $brand-background-color;
    border-radius: 50%;
  }

  @media screen and (min-width: $breakpoint-med-big ) {
    nav {
      clear: both;
    }
  }
  @media screen and (min-width: $breakpoint-biggest ) {
    nav {
      clear: none;
    }
  }
  nav ul {
    padding-left: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: $weight-bold;
  }
  .menu-big li {
    // background-color: $brand-background-color; // text highlight
  }


  .menu-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-image: url(../imgs/patterns/asanoha-400px.png);
    /* Background pattern from Subtle Patterns */
    background-attachment: fixed;
    background-size: 40%;
    border-bottom: 2px solid $brand-color-accent;
    width: 100%;
    margin: 0 auto;
    font-size: 1.2em;
    z-index: 7;
  }
  .menu-big {
    display: none;
  }
    @media screen and (min-width: $breakpoint-med-big ) {
      .menu-big {
        display: block;
      }
      .menu-big li {
        display: inline-block;
        font-size: 0.8em;
        padding: 0 15px;
        margin-top: 15px;
      }
      .menu-mobile {
        display: none;
      }
      .home header {
        height: 500px;
      }
    }
    @media screen and (min-width: $breakpoint-biggest ) {
      .menu-big {
        float: right;
      }
    }

  .button {
    width: 50%;
    margin: 0 auto;
    margin: 4% auto 0 auto;
  }
  .button-bottom {
    width: 50%;
    margin: 4% auto 0 auto;
  }

  // for front page
  .row {
    clear: both;
    overflow: auto;
  }

  .twousers .grid6 {
    margin: 3% 1%;
    padding: 2%;
  }
  .explorers .button-bottom {
    width: 100px;
    margin-left: 0;
    margin-right: 0;
  }
  .existing {
    text-align: right;
    overflow: auto;
    border-top: 2px solid $brand-second-bkgd;
  }
  .existing .button-bottom {
    width: 100px;
    margin-left: 0;
    margin-right: 0;
    float: right;
  }
    @media screen and (min-width: $breakpoint-med-big ) {
      .block {
        height: 100px;
      }
      .grid6 {
        width: 48%;
        float: left;
      }
      .twousers .grid6 {
        transition: background-color 0.25s ease-in;
        border: 1px solid $brand-color-primary;
      }
      .twousers .grid6:hover {
        border: 2px solid $brand-second-accent;
      }
      .existing, .explorers {
        border-top: none;
        text-align: left;
      }
      .existing .button-bottom, .explorers .button-bottom {
        margin: 0 auto;
        float: none;
      }
    }

  .latest {
    border-top: 1px solid $brand-color-primary;
    border-bottom: 1px solid $brand-color-primary;
    padding-bottom: 15px;
  }
  .latest h2 {
    margin-bottom: 0;
  }
  .latest h3 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .latest p {
    margin: 1% 0;
  }


    @media screen and (min-width: $breakpoint-med-big ) {
      .latest {
        border-top: none;
      }
      .featured-org, .featured-unit, .featured-coop {
        height: 350px;
        position: relative; /* need this here for button-bottom */
      }
      .latest .button-bottom {
        position: absolute; /* need this here for button-bottom */
        bottom: 4%;
        width: 70%;
        left: 15%;
      }
    }
    @media screen and (min-width: $breakpoint-med-big ) {
      .featured-org, .featured-unit, .featured-coop {
        height: 300px;
      }
      // .type {
      //   width: 20%;
      //   padding: 2%;
      //   max-width: 150px;
      //   font-size: 0.8em;
      //   height: auto;
      // }
      .grid4 {
        width: 33%;
        float: left;
        padding-right: 3%;
        /*figure out last child for padding*/
      }
      .grid4:last-child {
        padding-right: 0;
      }
    }


  .thumbnail {
    overflow: hidden;
  }
  .thumbnail img {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100%;
  	object-fit: cover;
  }



// for other pages' topbanners
.topbanner {
  background-color: $brand-second-accent;
  text-align: left;
  width: 100%;
  clear: both;
  font-size: 0.8em;
  padding-right: 65px;
  padding-left: 3%;
  height: 60px;
  border-bottom: 3px solid white;
  border-top: 1px solid rgba(255,255,255,0.1); // otherwise small gap at the top.  overflow auto sort of fixes but adds scroll bar.
}
.showonscrolldown {
  display: none;
  position: fixed;
  top: 0;
  z-index: 5;
}
  @media screen and (min-width: $breakpoint-small-med) {
    .topbanner {
      font-size: 1.2em;
      height: auto;
    }
  }
  @media screen and (min-width: $breakpoint-med-big) {
    .topbanner {
      height: 80px;
      text-align: center;
      padding-right: 0;
    }
  }


footer {
  clear: both;
  padding: 3% 3% 0 3%;
  overflow: auto;
  background-color: $brand-second-bkgd;
}
footer h3 {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 3px;
}
footer p {
  margin: 0;
}
.map {
  width: 90%;
  padding-bottom: 5%;
}
  @media screen and (min-width: $breakpoint-med-big ) {

    .grid6right {
      width: 50%;
      float: right; /* so info comes after map on mobile!*/
    }
    .map iframe {
      height: 500px;
    }
  }

.datebox {
  border: 2px solid $brand-color-accent;
  border-radius: 10px;
  height: 45px;
  width: 45px;
  margin-bottom: 3%;
  float: left;
}
.datebox p {
  padding-top: 3px;
  margin: -5px;
}
.eventtitle {
  float: left;
  width: 60%;
  padding-left: 3%;
}
.eventinfo {
  clear: both;
  margin-bottom: 0;

}
.eventinfo a:hover { /* not sure why this hover is not working*/
  text-decoration: underline;
}
.eventlist {
  overflow: auto;
}
.contactinfo {
  clear: both;
/*  border-top: 1px solid white;  */
}
.cooploves {
  font-size: 0.7em;
}
.cooploves a {
  color: $brand-color-primary;
}

.credits {
  clear: both;
  text-align: center;
  padding: 2%;
}

/* ------ EVENT ARCHIVE PAGE -----*/

.eventdate {
  font-weight: 200;
}


/* ------ STANDARD ARCHIVE PAGE -----*/
.archive li {
  text-transform: capitalize;
}
.keyword {
  font-weight: $weight-bold;
}
.date {
  font-weight: $weight-light;
  font-size: 0.8em;
}


/* ------ STANDARD POST -----*/
.container {
  min-height: 400px;
}
.container h1 {
  text-transform: capitalize;
}
hr {
  clear: both;
}
.tags {
  font-size: 1.2em;
  clear: both;
}
.tags h5 {
  font-weight: $weight-medium;
}
.tags li {
  display: inline-block;
  background-color: $brand-color-accent;
  padding: 0.5% 1%;
  margin: 0 1%;
}
.tags a {
  color: $brand-background-color;
}
.category {
  background-color: $brand-color-accent;
  padding: 0.5%;
  margin: 0 0.5%;

}
.search {
  border: 1px solid $brand-second-bkgd;
  margin: 3% 0;
  padding: 2%;
}

/* ------ STANDARD TOOL ICONS  -----*/
.tool-img {
  width: 100%;
  max-width: 800px;
  margin-bottom: 3%;
}
.tool-img img {
  width: 100%;
}
