
// Color Variables ALTERNATE PALETTE
$brand-background-color: rgba(255,255,255,1); //  White
$brand-background-trslct: rgba(240,247,244,0.7); // 80% AntiFlash White
$brand-color-primary: rgba(50,41,47,1); // Jet
$brand-color-accent: rgba(112,93,86,1); // Wenge
$brand-second-accent: rgba(153,225,217,1); // Pale Robin Egg
$brand-second-bkgd: rgba(112,171,175,0.5); // 50% Green Sheen
$brand-third-bkgd: rgba(255,255,255,1); //White
/*  Variables for Color Palette were used and compiled */



// Font Weights
$weight-bold: 700;
$weight-medium: 500;
$weight-light: 300;
/*  Variables for Font Weights were used and compiled */



// Breakpoints, still need to specify min or max
$breakpoint-small-med: 500px;
$breakpoint-med-big: 700px;
$breakpoint-biggest: 1200px;
/*  Variables for Breakpoints were used and compiled */
